#this is an example implementation of the file `config.py`, which is itself not present in the repository because it contains private password data.

#credentials for the user account which the bot uses.
email = "example@example.com"
password = "hunter2"

database_connection_string = "sqlite:///test.db"

kick_reply_images = [
    "http://i.imgur.com/6LqxbcH.jpg",
    "http://i.imgur.com/kw9y8.jpg",
    "http://i.imgur.com/670Cq.jpg",
    "http://i.imgur.com/NbGiSmd.jpg",
    "http://i.imgur.com/2ZYlX.jpg",
]